<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yan.novel.mapping.NovelInfoMapper">
	
    <insert id="insertNovelInfo" parameterType="com.yan.novel.schema.NovelInfo">
    	insert into NovelInfo 
    	(novelUrlToken, novelUrl, novelName, authorName, lastUpdateTime, lastUpdateChapterFullName, novelSummary, downloadFlag, insertTime, updateTime) 
    	values 
    	(#{novelUrlToken}, #{novelUrl}, #{novelName}, #{authorName}, #{lastUpdateTime}, #{lastUpdateChapterFullName}, #{novelSummary}, #{downloadFlag}, #{insertTime}, #{updateTime})
    </insert>
    
    <insert id="insertBathNovelInfo" parameterType="java.util.List">
    	insert into NovelInfo 
    	(novelUrlToken, novelUrl, novelName, authorName, lastUpdateTime, lastUpdateChapterFullName, novelSummary, downloadFlag, insertTime, updateTime) 
    	values 
    	<foreach collection="list" item="item" index="index" separator=",">
            (#{item.novelUrlToken}, #{item.novelUrl}, #{item.novelName}, #{item.authorName}, #{item.lastUpdateTime}, #{item.lastUpdateChapterFullName}, #{item.novelSummary}, #{item.downloadFlag}, #{item.insertTime}, #{item.updateTime})
        </foreach>
    </insert>
    
    <select id="queryNovelInfoByNovelUrlToken" parameterType="string" resultType="com.yan.novel.schema.NovelInfo">
    	select * from NovelInfo where novelUrlToken = #{novelUrlToken}
    </select>
    
    <select id="queryNovelInfosByNovelName" parameterType="string" resultType="com.yan.novel.schema.NovelInfo">
    	select * from NovelInfo where novelName = #{novelName}
    </select>
    
    <select id="queryNovelInfosByCondition" parameterType="java.util.Map"  resultType="com.yan.novel.schema.NovelInfo">
    	select * from NovelInfo
    	<trim prefix="where" prefixOverrides="and|or"> 
    		<if test="novelUrlToken != null and novelUrlToken != ''">
    			novelUrlToken=#{novelUrlToken}
    		</if>
    		<if test="novelName != null and novelName != ''">
    			and novelName=#{novelName}
    		</if>
    		<if test="downloadFlag != null and downloadFlag != ''">
    			and downloadFlag=#{downloadFlag}
    		</if>
    	</trim>
    	order by updateTime desc
    </select>
    
    <update id="updateDownloadFlagByNovelUrlToken" parameterType="com.yan.novel.schema.NovelInfo">
    	update NovelInfo set downloadFlag=#{downloadFlag}, updateTime=#{updateTime} where novelUrlToken = #{novelUrlToken}
    </update>
    
</mapper>